<title>KB 저축은행</title>
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <!-- 첫번째 섹션(정지헌) -->
    <section class="swiper-slide swiper mySwiper1 mainSlide" id="section0">
      <div class="swiper-wrapper mainSlide_wrap">
        <!-- 첫번째슬라이드 -->
        <div class="swiper-slide mainSlide_inner" id="mainSlide_inner1">
          <div class="w1200 mainSlide_conWrap">
            <div class="swiper-pagination1 f_bold"></div>
            <div class="mainSlide_title mainSlide_title1">
              <h2 class="f_bold">언제나 고객과 함께합니다.</h2>
              <h3 class="f_bold"><span>KB</span> 저축은행에서 다양한 상품을 만나보세요</h3>
              <p>다양한 예적금 상품은 KB저축은행에서!</p>
            </div>
            <div class="mainSlide_directMenu">
              <nav class="topBtn">
                <ul class="Btn_inner">
                  <li><a href="/login" class="loginBtn f_bold">로그인</a></li>
                  <li><a href="/faqPage" class="faqBtn f_bold">FAQ</a></li>
                </ul>
              </nav>
              <nav class="bottomBtn">
                <ul class="Btn_inner">
                  <li><a href="/calculator" class="f_medium calculator">금융계산기</a></li>
                  <li><a href="/accountInquiry" class="f_medium accountCheck">계좌조회</a></li>
                  <li><a href="/sub_noticeList" class="f_medium transfer">공지사항</a></li>
                  <li><a href="/cardThum_List" class="f_medium newDeposit">카드신규</a></li>
                  <li><a href="/productEplus" class="f_medium registration">정기예금</a></li>
                  <li><a href="cardsub_List" class="f_medium quickInquiry">카드신청조회</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="mainSlide_newsWrap">
            <div class="mainSlide_news_con w1200">
              <h3>저축은행 소식</h3>
              <div class="mainSlide_news" id="news1">
                <a href="">
                  <p class="f_regular">KB저축은행, 클라우드 기반 차세대시스템 성공적으로 구축완료</p>
                  <p class="f_regular">2022.11.16</p>
                </a>
              </div>
              <div class="mainSlide_news" id="news2">
                <a href="">
                  <p class="f_regular">KB저축은행, 업계 최고 수준의 연 5% ‘KB꿀적금’ 특판실시</p>
                  <p class="f_regular">2022.06.02</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- 두번째슬라이드 -->
        <div class="swiper-slide mainSlide_inner" id="mainSlide_inner2">
          <div class="mainSlide_conWrap w1200">
            <div class="swiper-pagination1 f_bold"></div>
            <div class="mainSlide_title mainSlide_title2">
              <h2 class="f_bold"><span>kiwi</span>신용대출</h2>
              <h3 class="f_bold">다양한 온라인 대출 상품을 편리하게!</h3>
              <p>신용도 영향 없이 내게 맞는 최적 상품을 한번에 조회!</p>
            </div>
            <div class="mainSlide_directMenu">
              <nav class="topBtn">
                <ul class="Btn_inner">
                  <li><a href="/login" class="loginBtn f_bold">로그인</a></li>
                  <li><a href="/faqPage" class="faqBtn f_bold">FAQ</a></li>
                </ul>
              </nav>
              <nav class="bottomBtn">
                <ul class="Btn_inner">
                  <li><a href="/calculator" class="f_medium calculator">금융계산기</a></li>
                  <li><a href="/accountInquiry" class="f_medium accountCheck">계좌조회</a></li>
                  <li><a a href="/sub_noticeList" class="f_medium transfer">공지사항</a></li>
                  <li><a href="/cardThum_List" class="f_medium newDeposit">카드신규</a></li>
                  <li><a href="/productEplus" class="f_medium registration">정기예금</a></li>
                  <li><a href="cardsub_List" class="f_medium quickInquiry">카드신청조회</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="mainSlide_productWrap">
            <div class="mainSlide_product_con w1200">
              <ul class="mainSlide_productInner">
                <li>
                  <a href="">
                    <h4 class="f_bold">kiwi신용대출</h4>
                    <p class="f_medium">무담보로 지점 방문 없이 송금까지!</p>
                    <ul>
                      <li class="loanLimit">
                        <span class="product_title">대출한도</span>
                        <span>최대<strong class="f_medium">1</strong>억원</span>
                      </li>
                    </ul>
                  </a>
                </li>
                <li>
                  <a href="">
                    <h4 class="f_bold">kiwi전환대출</h4>
                    <p class="f_medium">고금리 대출을 낮은 금리로 한번에 통합!</p>
                    <ul>
                      <li class="loanLimit">
                        <span class="product_title">대출한도</span>
                        <span>최대<strong class="f_medium">5</strong>천만원</span>
                      </li>
                      <li class="loanRate">
                        <span class="product_title">대출금리</span>
                        <span>최저 연 <strong class="f_medium">19.4</strong>%</span>
                      </li>
                    </ul>
                  </a>
                </li>
                <li>
                  <a href="">
                    <h4 class="f_bold">kiwi비상금대출</h4>
                    <p class="f_medium">번거로운 서류제출 없이 빠르고 간편하게!</p>
                    <ul>
                      <li class="loanLimit">
                        <span class="product_title">대출한도</span>
                        <span>최대 <strong class="f_medium">3</strong>백만원</span>
                      </li>
                      <li class="loanRate">
                        <span class="product_title">대출금리</span>
                        <span>최저 연 <strong class="f_medium">8.9</strong>%</span>
                      </li>
                    </ul>
                  </a>
                </li>
                <li>
                  <a href="">
                    <h4 class="f_bold">KB사잇돌2대출</h4>
                    <p class="f_medium">서울보증보험 연계 중금리 보증부대출</p>
                    <ul>
                      <li class="loanLimit">
                        <span class="product_title">대출한도</span>
                        <span>최대 <strong class="f_medium">3</strong>천만원</span>
                      </li>
                      <li class="loanRate">
                        <span class="product_title">대출금리</span>
                        <span>최저 연 <strong class="f_medium">8.9</strong>%</span>
                      </li>
                    </ul>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- 세번째슬라이드 -->
        <div class="swiper-slide mainSlide_inner" id="mainSlide_inner3">
          <div class="mainSlide_conWrap w1200">
            <div class="swiper-pagination1 f_bold"></div>
            <div class="mainSlide_title mainSlide_title3">
              <h2 class="f_bold"><span>KB</span>예금상품</h2>
              <h3 class="f_bold">보다 효율적인 KB의 예금!</h3>
              <p>예금 상품들로 여러분의 행복을 채우세요!</p>
            </div>
            <div class="mainSlide_directMenu">
              <nav class="topBtn">
                <ul class="Btn_inner">
                  <li><a href="/login" class="loginBtn f_bold">로그인</a></li>
                  <li><a href="/faqPage" class="faqBtn f_bold">FAQ</a></li>
                </ul>
              </nav>
              <nav class="bottomBtn">
                <ul class="Btn_inner">
                  <li><a href="/calculator" class="f_medium calculator">금융계산기</a></li>
                  <li><a href="/accountInquiry" class="f_medium accountCheck">계좌조회</a></li>
                  <li><a a href="/sub_noticeList" class="f_medium transfer">공지사항</a></li>
                  <li><a href="/cardThum_List" class="f_medium newDeposit">카드신규</a></li>
                  <li><a href="/productEplus" class="f_medium registration">정기예금</a></li>
                  <li><a href="cardsub_List" class="f_medium quickInquiry">카드신청조회</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="mainSlide_productWrap">
            <div class="mainSlide_product_con w1200">
              <ul class="mainSlide_productInner">
                <li>
                  <a href="">
                    <h4 class="f_bold">KB e-plus 정기예금</h4>
                    <p class="f_medium">확정 금리로 높은 수익을!</p>
                    <ul>
                      <li class="loanLimit">
                        <span class="product_title">이율</span>
                        <span>최고 연<strong class="f_medium">5.6</strong>%까지</span>
                      </li>
                    </ul>
                  </a>
                </li>
                <li>
                  <a href="">
                    <h4 class="f_bold">KB e-plus 정기적금</h4>
                    <p class="f_medium">매월 일정금액을 저축하고 싶으시다면!</p>
                    <ul>
                      <li class="loanLimit">
                        <span class="product_title">이율</span>
                        <span>최고 연<strong class="f_medium">3.5</strong>%까지</span>
                      </li>
                    </ul>
                  </a>
                </li>
                <li>
                  <a href="">
                    <h4 class="f_bold">자유적립예금</h4>
                    <p class="f_medium">자유롭게 납입하고 만기일에 목돈 두둑히!</p>
                    <ul>
                      <li class="loanLimit">
                        <span class="product_title">이율</span>
                        <span>최고 연<strong class="f_medium">5.0</strong>%까지</span>
                      </li>
                    </ul>
                  </a>
                </li>
                <li>
                  <a href="">
                    <h4 class="f_bold">kiwi 입출금 통장</h4>
                    <p class="f_medium">높은 금리와 수수료 면제 혜택!</p>
                    <ul>
                      <li class="loanLimit">
                        <span class="product_title">이율</span>
                        <span>최고 연<strong class="f_medium">1.5</strong>%까지</span>
                      </li>
                    </ul>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 두번째 섹션(진하경) -->
    <section class="swiper-slide solution" id="section1">
      <section class="main_solution w1200">
        <h2 class="main_title">KB저축은행 솔루션 </h2>
        <div class="solution_wrap">
          <span class="solution_shopping">
            <div class="solution_grayBg solution_strong">
              <span></span>
              <h3>
                KB저축은행에서 편리하게<br>
                금융을 온라인 쇼핑처럼</h3>
            </div>
          </span>
          <span class="solution_kiwibank">
            <div class="solution_grayBg">
              KB저축은행 대표상품 <br>
              키워주고 위해주는 KIWI신용대출</div>
          </span>
          <span class="solution_retire">
            <div class="solution_grayBg">
              퇴직 후에도 든든하게<br>
              퇴직연금 정기예금</div>
          </span>
          <span class="solution_banner swiper solutionSwiper">
            <span class="swiper-wrapper solution_event">
              <div class="swiper-slide solution_e_one" onclick="javascript:location.href='/cardThum_Con?id=5'" ></div>
              <div class="swiper-slide solution_e_two"></div>
            </span>
          </span>
          <span class="solution_quick">
            <div>
              <div class="solution_quick_barWrap">
                <span>
                  <a href="/cardThum_List">
                  <span class="solution_quick_img solution_recom"></span></a>
                  <div class="p f_gray1 f_medium">추천 상품</div>
                </span>
              </div>
            </div>
            <div>
              <div class="solution_quick_barWrap">
                <span>
                  <span class="solution_quick_img solution_advice"></span>
                  <div class="p f_gray1 f_medium">상담하기</div>
                </span>
              </div>
            </div>
            <div>
              <span>
                <span class="solution_quick_img solution_loan"></span>
                <div class="p f_gray1 f_medium">신용 대출</div>
              </span>
            </div>
          </span>
        </div>
      </section>
    </section>
    <!-- 세번째 섹션(정지헌) -->
    <section class="swiper-slide kbinfo" id="section2">
      <div class="kbinfo_wrap">
        <h2 class="main_title">KB Info</h2>
        <div class="kbinfo_inner">
          <div class="kbinfo_innerContainer">
            <div class="swiper mySwiper2 kbinfo_topWrap w1200" id="kbinfo_conWrap1">
              <ul class="swiper-wrapper kbinfo_firstcon">
                <li class="swiper-slide">
                  <div class="info_img info_img1"></div>
                  <div class="info_text">
                    <h3 class="f_medium">kiwi 신용대출</h3>
                    <p class="f_regular">빠르고 간편한 온라인 대출</p>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="info_img info_img2"></div>
                  <div class="info_text">
                    <h3 class="f_medium">kiwi 전환대출</h3>
                    <p class="f_regular">고금리 대출을 낮은 금리로 한번에!</p>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="info_img info_img1"></div>
                  <div class="info_text">
                    <h3 class="f_medium">kiwi 비상금대출</h3>
                    <p class="f_regular">번거로운 서류제출 없이 빠르게!</p>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="info_img info_img2"></div>
                  <div class="info_text">
                    <h3 class="f_medium">사잇돌2대출</h3>
                    <p class="f_regular">서울보증보험 연계 중금리대출</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="swiper mySwiper3 kbinfo_topWrap w1200" id="kbinfo_conWrap2">
              <ul class="swiper-wrapper kbinfo_firstcon">
                <li class="swiper-slide">
                  <div class="info_text">
                    <h3 class="f_medium">KB e-plus 정기예금</h3>
                    <p class="f_regular">여유자금으로 높은수익율</p>
                  </div>
                  <div class="info_img info_img5"></div>
                </li>
                <li class="swiper-slide">
                  <div class="info_text">
                    <h3 class="f_medium">KB착한 e-plus 정기적금</h3>
                    <p class="f_regular">매월 차곡차곡 적립하는 상품</p>
                  </div>
                  <div class="info_img info_img6"></div>
                </li>
                <li class="swiper-slide">
                  <div class="info_text">
                    <h3 class="f_medium">자유적립예금</h3>
                    <p class="f_regular">일정기간 자유롭게 납입하여 목돈 두둑히</p>
                  </div>
                  <div class="info_img info_img5"></div>
                </li>
                <li class="swiper-slide">
                  <div class="info_text">
                    <h3 class="f_medium">비과세 종합저축</h3>
                    <p class="f_regular">이자소득에 대한 소득세가 전액면제!</p>
                  </div>
                  <div class="info_img info_img6"></div>
                </li>
              </ul>
            </div>
            <div class="kbinfoTopArrow" id="kbinfo1_rightArrow"></div>
            <div class="kbinfoTopArrow" id="kbinfo1_leftArrow"></div>
            <div class="kbinfoTopArrow" id="kbinfo2_rightArrow"></div>
            <div class="kbinfoTopArrow" id="kbinfo2_leftArrow"></div>
          </div>
          <div class="kbinfo_bankingWrap w1200">
            <div>
              <div class="swiper mySwiper4 kbinfo_bottomWrap" id="kbinfo_conWrap3">
                <div class="whiteLine whiteLine1"></div>
                <div class="whiteLine whiteLine2"></div>
                <div class="whiteLine whiteLine3"></div>
                <ul class="swiper-wrapper kbinfo_thirdcon">
                  <li class="swiper-slide">
                    <a href="" class="quickSearch">빠른조회</a>
                  </li>
                  <li class="swiper-slide">
                    <a href="/accountInquiry" class="accountSearch">계좌조회</a>
                  </li>
                  <li class="swiper-slide">
                    <a href="" class="accountTransfer">계좌이체</a>
                  </li>
                  <li class="swiper-slide">
                    <a href="" class="newDeposit">예금신규</a>
                  </li>
                  <li class="swiper-slide">
                    <a href="" class="securedLoan">예적금담보대출</a>
                  </li>
                  <li class="swiper-slide">
                    <a href="" class="registration">타행인증서등록</a>
                  </li>
                </ul>
              </div>
              <div class="kbinfoBotArrow" id="kbinfo3_rightArrow"></div>
              <div class="kbinfoBotArrow" id="kbinfo3_leftArrow"></div>
            </div>
          </div>
        </div>
    </section>
    <!-- 네번째 섹션(정다은) -->
    <section class="swiper-slide mainNotice" id="section3">
      <section class="mainNotice">
        <div class="w1200">
          <h2 class="main_title">저축은행 공지사항</h2>
          <div class="mainNoti_list_wrap">
            <ul class="mainNoti_list">
              <% rows.forEach((row,index) =>{ %>
              <li>
                <a href="/sub_noticeList">
                  <p class="main_listNum f_gray2"></p>
                  <h3 class="cate" onclick="javascript:location.href='/notiConPage?id=<%= row.id %>'">[<%= row.cate %>]</h3>
                  <h3 class="content" onclick="javascript:location.href='/notiConPage?id=<%= row.id %>'"><%= row.title %></h3>
                  <p class="date f_gray2"><%= row.date %></p>
                </a>
              </li>
              <% }); %>
            </ul>
            <a href="/sub_noticeList" class="mainList_btn"> 전체보기</a>
          </div>
          <div class="mainNoti_info_wrap">
            <ul class="mainNoti_info">
              <li>
                <a href="">
                  <div>
                    <h3>회사소개</h3>
                    <p>고객의 가치창출과 <br>
                      사회적 책임을 다 하는 기업</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <div>
                    <h3>저축은행 소식</h3>
                    <p>저축은행의 주요 소식을 <br>
                      알려드립니다.</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <div>
                    <h3>입찰&채용</h3>
                    <p>저축은행은 입찰과 채용 정보를 <br>
                      확인해보세요.</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="/faqPage">
                  <div>
                    <h3>FAQ</h3>
                    <p>저축은행의 <br>
                      자주하는 질문 입니다.</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </section>
    <footer class="swiper-slide" id="section4">
      <section class="footer_wrap w1200">
        <div class="footer_m_wrap mobile ">
          <div class="footer_left">
            <div class="footer_call_wrap">
              <span class="footer_call">
                <p>불법사금융피해 신고센터</p>
                <h3>1332 : 3번</h3>
              </span>
              <div class="footer_bar"></div>
              <span class="footer_call">
                <p>금융사기신고 야간콜센터 </p>
                <h3>02)3978-600,800</h3>
              </span>
            </div>
            <p>보호상품금융등록부 <br>
              불법개인정보를 이용한 금융사기관련 유의사항 안내<br>
              금융사기 피해예방홍보동영상 보러가기</p>
          </div>
          <div class="footer_icon">
            <div class="footer_icon_blog">
            </div>
            <div class="footer_icon_facebook">
            </div>
            <div class="footer_icon_ytub">
            </div>
            <select name="KB_selectBox" id="KB_selectBox">
              <option value="KB그룹 금융 네트워크">KB그룹 금융 네트워크</option>
              <option value="푸르덴셜생명">푸르덴셜생명</option>
              <option value="KB경영연구소">KB경영연구소</option>
              <option value="KB데이타시스템">KB데이타시스템</option>
              <option value="KB신용정보">KB신용정보</option>
              <option value="KB인베스트먼트">KB인베스트먼트</option>
              <option value="KB부동산신탁">KB부동산신탁</option>
              <option value="KB캐피탈">KB캐피탈</option>
              <option value="KB자산운용">KB자산운용</option>
              <option value="KB생명보험">KB생명보험</option>
              <option value="KB증권">KB증권</option>
              <option value="KB손해보험">KB손해보험</option>
              <option value="KB국민카드">KB국민카드</option>
              <option value="KB국민은행">KB국민은행</option>
              <option value="KB금융그룹">KB금융그룹</option>
            </select>
          </div>
        </div>
        <article class="footer_wrap_top">
          <div class="footer_right">
            <div class="footer_right_top">
              <ul>
                <li>
                  <p>신용정보조회</p>
                </li>
                <li>
                  <p>저축은행중앙회</p>
                </li>
                <li>
                  <p>금융감독원</p>
                </li>
                <li>
                  <p>서민금융1332서비스</p>
                </li>
                <li>
                  <p>채권추심 처리절차 및 불법추심 대응요령</p>
                </li>
                <li>
                  <p>소명시효 완성채권 추심 관련 금융소비자 유의사항</p>
                </li>
                <li>
                  <p>그룹 내 고객정보 제공내역</p>
                </li>
              </ul>
              <div class="footer_right_bottom">
                <p>사업자 등록번호 : 215-87-62778대표이사 허상철 주소 서울시 송파구 송파대로 260전화 1899-0900 <br>
                  KB저축은행의 모바일뱅크 kiwibank고객센터 : 1899-0900 <br>
                  Copyright © 2016 KB Savings Bank Co., Ltd All Right Reserved.</p>
              </div>
            </div>
          </div>
          <div class="footer_left desk">
            <div class="footer_call_wrap">
              <span class="footer_call">
                <p>불법사금융피해 신고센터</p>
                <h3>1332 : 3번</h3>
              </span>
              <div class="footer_bar"></div>
              <span class="footer_call">
                <p>금융사기신고 야간콜센터 </p>
                <h3>02)3978-600,800</h3>
              </span>
            </div>
            <p>보호상품금융등록부 <br>
              불법개인정보를 이용한 금융사기관련 유의사항 안내<br>
              금융사기 피해예방홍보동영상 보러가기</p>
          </div>
        </article>
        <article class="footer_wrap_bottom">
          <div class="footer_logo">
            <img src="img/footer/KB_logo.png" alt="">
          </div>
          <div class="footer_icon">
            <div class="footer_icon_blog desk">
            </div>
            <div class="footer_icon_facebook desk">
            </div>
            <div class="footer_icon_ytub desk">
            </div>
            <select name="KB_selectBox" id="KB_selectBox" class="desk">
              <option value="KB그룹 금융 네트워크">KB그룹 금융 네트워크</option>
              <option value="푸르덴셜생명">푸르덴셜생명</option>
              <option value="KB경영연구소">KB경영연구소</option>
              <option value="KB데이타시스템">KB데이타시스템</option>
              <option value="KB신용정보">KB신용정보</option>
              <option value="KB인베스트먼트">KB인베스트먼트</option>
              <option value="KB부동산신탁">KB부동산신탁</option>
              <option value="KB캐피탈">KB캐피탈</option>
              <option value="KB자산운용">KB자산운용</option>
              <option value="KB생명보험">KB생명보험</option>
              <option value="KB증권">KB증권</option>
              <option value="KB손해보험">KB손해보험</option>
              <option value="KB국민카드">KB국민카드</option>
              <option value="KB국민은행">KB국민은행</option>
              <option value="KB금융그룹">KB금융그룹</option>
            </select>
          </div>
        </article>
      </section>
    </footer>
  </div>
  <div class="swiper-pagination"></div>
</div>